.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

body {
  margin-bottom: 100px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    color: white;
    text-align: center;
    background-color: #43ac6a;
    z-index: 99999;
}

.start-shift{
  margin-top: 20px;
}

.start-shift-box {
  background-color: #43ac6a;
  color: white;
  padding:40px;
}

.drop-box {
  background-color: orange;
  color: white;
  padding:40px;
}

.end-shift-box {
  background-color: #f04124;
  color: white;
  padding:40px;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.footer .btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-button {
  position: fixed;
  top:0;
  right: 0;
  z-index: 9999;
}

.menu-button .dropdown-menu {
  left: -100px;
}

@media only screen and (max-width: 780px) {
    body {
        margin-bottom: 300px;
    }
}
