<span class="menu-button" uib-dropdown on-toggle="main.toggled(open)">
  <button class="btn btn-info btn-lg" id="simple-dropdown" uib-dropdown-toggle>
    <i class="fa fa-bars"></i> Menu
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
    <li ng-if="!main.activeShift">
      <a ui-sref="app.startShift">Start Shift</a>
    </li>
    <li ng-if="main.activeShift">
      <a ui-sref="app.endShift">End Shift</a>
    </li>
    <li ng-if="main.activeShift">
      <a ui-sref="app.printTickets">Print Tickets</a>
    </li>
    <li ng-if="main.activeShift">
      <a ui-sref="app.drops">Drops</a>
    </li>
    <li>
      <a ng-click="main.printLastReport()">Print Last Report</a>
    </li>
    <li>
      <a ui-sref="app.reprint">Reprint a Report</a>
    </li>
    <li>
      <a ui-sref="app.printer">Choose a Printer</a>
    </li>
  </ul>
</span>

<div ui-view>
  Loading
</div>
