<div class="container">
  <h1>parkPOS <span class="text-muted">Print tickets.</span></h1>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Ticket Duration</h2>
          <p class="text-muted">
            Select the return date.
          </p>
          <div class="row">
            <div class="col-sm-6 top10" ng-repeat="(days, price) in ticket.dayTable">
              <button class="btn btn-default btn-block btn-lg" ng-class="{'btn-info': ticket.selected==days}" ng-click="ticket.select(days, false)">{{ ticket.dayName(days) }}</button>
            </div>
            <div class="col-sm-12 top10">
              <button class="btn btn-default btn-block btn-lg" ng-class="{'btn-info': ticket.custom}" ng-click="ticket.select(false, true)">Custom</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default" ng-show="ticket.custom" ng-controller="datePickerCtrl as datePicker">
        <div class="panel-body">
          <h2>Custom</h2>
          <p class="text-muted">
            Select a date.
          </p>
          <p class="input-group">
            <input type="text" class="form-control input-lg" uib-datepicker-popup="{{datePicker.format}}" ng-model="ticket.customDate" ng-change="ticket.changeDate()" is-open="datePicker.popup.opened" datepicker-options="datePicker.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-lg" ng-click="datePicker.open()"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>How Many?</h2>
          <p class="text-muted">
            Select the number of tickets to print.
          </p>
          <h3>{{ ticket.tickets }} <span class="text-muted">tickets</span></h3>
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-info btn-block btn-lg" ng-click="ticket.increment()"><i class="fa fa-plus"></i></button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-danger btn-block btn-lg" ng-click="ticket.decrement()"><i class="fa fa-minus"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <h2>Total</h2>
      </div>
      <div class="col-sm-2 col-xs-4">
        <h3>${{ ticket.price }}</h3>
        <p>per ticket</p>
      </div>
      <div class="col-sm-2 col-xs-4">
        <h3>{{ ticket.tickets }}</h3>
        <p>tickets</p>
      </div>
      <div class="col-sm-2 col-xs-4">
        <h3>${{ ticket.tickets * ticket.price }}</h3>
        <p>total</p>
      </div>
      <div class="col-sm-4 col-xs-12">
        <button class="btn btn-default btn-lg" ng-click="ticket.printTicket()" ng-disabled="ticket.tickets == 0"><i class="fa fa-print"></i> Print</button>
      </div>
    </div>

  </div>
</div>
